---
import { Icon } from "astro-icon/components";

export interface Props {
  icon: string;
  title: string;
  description?: string;
  class?: string;
  extraLinks?: {label:string,href:string}[]
}

const { icon, title, description, class: className = "", extraLinks=[] } = Astro.props;
---

<div
  class={`group p-4 sm:p-6 bg-special-lighter rounded-lg transition-all text-center ${className}`}
>
  <Icon
    name={icon}
    class="w-12 h-12 mx-auto mb-4 text-accent-two group-hover:scale-110 transition-transform"
  />
  <h3 class="text-lg font-semibold mb-2">{title}</h3>
  {
    description && (
      <p class="text-sm text-accent-base/70">{description}</p>
    )
  }

  {extraLinks.length > 0 && (
    <div class="flex w-full gap-3 mt-3 pt-3 border-t-1 border-accent-two/10">
      {extraLinks.map(extraLink=>(
        <a class='rounded-md p-1 outline outline-accent-two bg-accent-two/10 hover:bg-accent-two/30 text-accent-base transition-colors flex-1' href={extraLink.href}>{extraLink.label}</a>
      ))}
    </div>
  )}
</div>
